@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Figtree", sans-serif;
}

body {
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 384px;
    height: 522px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    border: 2px solid black;
    padding: 24px;
    box-shadow: 6px 6px 0px black;
    transition: box-shadow 0.3s ease;
margin: 15px;
}
.container:hover{
    box-shadow: 9px 9px 0px black;

}

.container img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.tag {
    background: hsl(47, 88%, 63%);
    font-weight: 800;
    border-radius: 5px;
    padding: 7px 15px;
}

.content {
    color: hsl(0, 0%, 7%);
    padding: 12px 0;
}

.publish {
    margin-top: 23px;
    font-weight: 500;
}

.title {
    padding: 17px 0;
    transition: color 0.3s ease;
    
}
.title:hover{
    color: hsl(47, 88%, 63%) ;
    cursor: pointer;
}

.desc {
    font-size: 16px;
    color: hsl(0, 0%, 42%);
    letter-spacing: 1px;
    line-height: 23px;
    margin-bottom: 13px;
}

.author {
margin-bottom: 23px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 800;

}

.author img {
    margin: 0;
    width: 40px;
    height: 40px;
}
